server: "https://{{ lb_hostname }}:9345"
token: "{{ hostvars[primary_master].node_token | trim }}"
node-external-ip:
  - "{{ ansible_ssh_host }}"
node-ip:
  - "{{ ansible_ssh_host }}"
{% if system_default_registry is defined %}
system-default-registry: "{{ system_default_registry }}"
{% endif %}
